# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# DB connection string
set mysql_connection_string "server=localhost;database=essentialmode;userid=root;"
set es_enableCustomData 1

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure scoreboard
ensure playernames
ensure killfeed
ensure bob74_ipl

ensure essentialmode
ensure es_ui
ensure es_admin2
ensure mysql-async
ensure esplugin_mysql

ensure async
ensure es_extended
ensure esx_inventoryhud
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog
ensure esx_voice
ensure esx_addons_gcphone
ensure gcphone
ensure cron
ensure skinchanger
ensure esx_skin
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_datastore
ensure esx_accessories
ensure esx_clotheshop
ensure esx_weaponshop
ensure esx_weaponshop_sell
ensure esx_lscustom
ensure esx_shops
ensure esx_shops2
ensure esx_drugs
ensure esx_barbershop
ensure esx_ambulancejob
ensure esx_thief
ensure esx_extraitems


ensure mythic_notify
ensure esx_zombiesystem
ensure monster_vault
ensure zombpd
ensure zombpd2
ensure square
ensure utool
ensure ambience

ensure qalle_coords-master
ensure npcs-master
ensure loadingscreen

ensure safezones
ensure vehicles
ensure esx_xp
ensure vSync

ensure coordsaver
ensure esx_tpm


# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password "GHFFH"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
#sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "en-GB" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://i.imgur.com/hAlF6KR.png"
#sets banner_connecting "https://i.imgur.com/hAlF6KR.png"

# Set your server's hostname
sv_hostname "EXTINÇÃO STYLE ZOMBIE SERVIDOR DE WWW.ESXBRASIL.HOST"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
sv_master1 ""

# Ace!
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:1100001158FFDF5 group.admin # Add your admin's SteamID here.  This line can be duplicated for additional admins.

sv_endpointprivacy true

onesync_enabled false

sv_maxclients 32

set steam_webApiKey ""
sv_licenseKey ""